@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron green">
    <h2>Online заказ талонов</h2>
    <p class="lead">Вы можете заказать какой угодно талон совершенно бесплатно.</p>
    <p><a href="/about" class="btn blue btn-large">Узнать подробнее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Выберите регион</h2>
        <table class="table orange">
            <tr>
                <td>
                    
                </td>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 7 })">Минск</a>
                </td>
                <td>
                </td> 
            </tr>
            <tr>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 1 })">Брестская обл.</a>
                </td>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 2 })">Витебская обл.</a>
                </td>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 3 })">Гомельская обл.</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 4 })">Гродненская обл.</a>
                </td>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 5 })">Минская обл.</a>
                </td>
                <td>
                    <a class="lead" href="@Url.Action("Index", "Region", new { regionId = 6 })">Могилевская обл.</a>
                </td>
            </tr>
        </table>
    </div>
</div>