@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">История</h2>

<a disabled class="btn darker-green black">История заказов талонов</a>
<a href="@Url.Action("HomeVisitHistory", "MyTalon", new {policlinicId = ViewBag.PoliclinicId, patientId = ViewBag.PatientId})" class="btn green black">История вызова врача</a>

<table class="table table-hover orange">
    @for (var i = 0; i < ViewBag.Histories.Count; i++)
    {
        <tr>
            <td>@ViewBag.Histories[i].Doctor.Fio</td>
            <td>@ViewBag.Histories[i].Doctor.Specialization.Name</td>
            <td>@ViewBag.Histories[i].AvailableTime.Time</td>
            <td><a href="@Url.Action("CancelOrder", "MyTalon", new { policlinicId = ViewBag.PoliclinicId, patientId = ViewBag.PatientId, visitHistoryId = ViewBag.Histories[i].VisitHistoryId })" class="btn btn-sm btn-danger">Cancel</a></td>
        </tr>
    }
</table>

