@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<p class="lead">Выберите поликлинику</p>
<p>регион # @ViewBag.RegionId</p>
<ul class="flex-list">
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 1})">1-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
</ul>

